.kumparan__postContainer {
	max-width: 1366px;
}
.kumparan__commentUserContainer {
	position: fixed;
	bottom: 50px;
	height: 20px;
}
.kumparan__commentUserInput {
	width: 75%;
	height: 50px;
	font-size: 16px;
	padding: 10px 0 0 10px;
}
.kumparan__sendButton {
	border: 0;
	background-color: #fff;
	height: 50px;
	color: #28a4a4;
	font-weight: bold;
	font-size: 16px;
}
.kumparan__sendButtonDisable {
	opacity: 0.5;
}
