.kumparan__mb20 {
	margin-bottom: 20px;
}
.kumparan__mb100 {
	margin-bottom: 100px;
}
.kumparan__whiteBackground {
	background-color: #fff;
}
.kumparan__pointer {
	cursor: pointer;
}
.kumparan__flex {
	display: flex;
}
.kumparan__flexColumn {
	flex-direction: column;
}
.kumparan__flexRow {
	flex-direction: row;
}
.kumparan__alignCenter {
	align-items: center;
}
.kumparan__justifyCenter {
	justify-content: center;
}
.kumparan__flexWrap {
	flex-wrap: wrap;
}
.kumparan__mt0 {
	margin-top: 0;
}
.kumparan__mt10 {
	margin-top: 10px;
}
.kumparan__mt30 {
	margin-top: 30px;
}
.kumparan__mt50 {
	margin-top: 50px;
}
.kumparan__pt20 {
	padding-top: 20px;
}
.kumparan__p20 {
	padding: 20px;
}
.kumparan__mlAuto {
	margin-left: auto;
}
.kumparan__width10Percent {
	width: 10%;
}
.kumparan__width70Percent {
	width: 70%;
}
.kumparan__width80Percent {
	width: 80%;
}
.kumparan__width90Percent {
	width: 90%;
}
.kumparan__width100Percent {
	width: 100%;
}
.kumparan__marginHorizontalAuto {
	margin: 0 auto;
}
.kumparan__fontBold {
	font-weight: bold;
}
.kumparan__font20 {
	font-size: 20px;
}
.kumparan__font16 {
	font-size: 16px;
}
